body {
	font-size: 0.8em;
}


img {
    max-width: 100%;
    height: auto;      
}


table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.5em;
}

td,th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #444444;
  color: white;
  font-size: 0.8em;
}